*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
  }
  
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 71px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
  }
  
  
  #hero-title {
    color: white;
    font-size: 4rem;
    text-align: center;
  }
  
  #hero-subtext {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
  }
  
  #hero-button {
    background-color: #0779e4;
    color: white;
    padding: 10px 20px;
    border: none;
  }
  
  #hero{
    background-image: url("./images/bg_1.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .text-white{
    color: white;
  }
  
   .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  } 

  #car-works {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    
  }
  .header {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .featured-car img {
    width: 320px;
    height: 220px;
    border-radius: 6px;
  
    /* display: flex;
   flex-direction: column;
    width: 100%;
    height: 500px;
    gap: 10px;
    padding: 10px; */
  }
  
  /* .car-item {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
  
  } */
  
  #car-items{
    display: flex;
    column-gap: 13px;
    
  }
  .car-item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .car-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
  } 
  
  .car-overlay:hover {
    opacity: 1;
  }

#services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 1140px;
  height: 445px;
  margin: 0 104px;
  padding-left: 15px;
  padding-right: 15px;

}

#services div{
  display: flex;
}

#services div span{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  justify-content: center;
  width: 255px;
  height: 278px;
  padding: 0 15px 16px 15px;
}

#text-blue{
  color: #1089FF;
  margin: 30px;
  margin-left: 15px;
}
  
  